{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Basecamp</title>
    <!-- jQuery -->
    <script src="{% static "js/vendors/jquery.js" %}"></script>
    <!------- Angular ------->
    <script src="{% static "js/vendors/angular/angular.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-resource.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-route.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-sanitize.js" %}"></script>
    <script src="{% static "js/vendors/angular-ui/ui-bootstrap-tpls-0.11.2.min.js" %}"></script>

    <!------- Bootstrap ------->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand|Josefin+Sans|Gloria+Hallelujah|Pacifico' rel='stylesheet' type='text/css'>

    <!-- JavaScript -->
    <script src="{% static "js/app.js" %}"></script>

    <!-- directives -->
    <script src="{% static "js/directives/buttonDirectives.js" %}"></script>
    <script src="{% static "js/directives/divDirectives.js" %}"></script>
    <script src="{% static "js/directives/searchBarDirectives.js" %}"></script>


    <!-- filters -->
    <script src="{% static "js/filters/topicType.js" %}"></script>

    <!-- Factories -->
    <script src="{% static "js/factories/projectFactory.js" %}"></script>
    <script src="{% static "js/factories/messageResource.js" %}"></script>
    <script src="{% static "js/factories/calendarResource.js" %}"></script>

    <!------- Controllers ------->
    <script src="{% static "js/controllers/homeController.js" %}"></script>
    <script src="{% static "js/controllers/projectController.js" %}"></script>
    <script src="{% static "js/controllers/calendarController.js" %}"></script>
    <script src="{% static "js/controllers/eventController.js" %}"></script>
    <script src="{% static "js/controllers/discussionController.js" %}"></script>


    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="shortcut icon" href="https://basecamp.com/favicon.ico">

</head>
<body>

<header>
    <div class="container-fluid">
                <nav class="navbar navbar" role="navigation">
                    <nav data-behavior="hover_global_nav" class="has_announcements">
                        <div class="logo">
                            <a data-bare-workspace="true" data-hotkey="p" data-role="home"
                               href="/#/">Baseclone</a>

                            <div class="announcements_link">
                                <a data-replace-stack="true" data-role="new_features" href="#/"> New
                                    Stuff!</a>
                            </div>
                            <div class="global_links"><span class="navLinks">
                                <a class="topnav_root" data-bare-workspace="true" data-hotkey="1" href="/#/projects/7487363">  Projects  </a>
                                </span><span class="navLinks">
                                <a class="topnav_calendar" data-bare-workspace="true" data-hotkey="2"
                                   href="#/calendars/15019123">Calendar</a>
                                </span><span class="navLinks">
                                <a class="topnav_everything" data-bare-workspace="true" data-hotkey="3"
                                   href="#/">  Everything  </a></span><span class="navLinks">
                                <a class="topnav_timeline" data-bare-workspace="true" data-hotkey="4"
                                   data-restore-position="true" href="#/">Progress</a></span>
                            </div>
                        </div>
                    </nav>
                </nav>
            </div>
</header>
<div class="row">
    <div class="col-sm-12">
        <div>
            <div ng-app="baseclone">
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>
</body>
</html>